/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome/font-awesome
 *= require tufte

 *= require articles
 *= require visitors
 *= require_self
 */
@import "variables";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.social { .fa {color: $gray;} padding: 5px; }
.logo { width: 70px; margin: 0 auto 10px; img {width: 100%; }}
.mobile { display:none; }
.logotype img { display: none; }
i { vertical-align: middle; }
.star {  font-style: normal; }
.star:hover:before { color: $orange; }
a { border: none; }
#nav {
  width: 220px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  padding: 12px 0;
  border-right-color: $veryLight;
  border-right-width: 2px;
  position: fixed;
  z-index: 21;
  border-right-style: solid;
  overflow-x: hidden;
  background: $white;
  left: 0;
  p, ol li { font-size: 1rem; line-height: 1.4rem;}
  ol { padding-left: 15px; width: 75%; }
  ul { width: 100%; padding: 0;}
  a { border: none; }
  .nav-group {
    border-top-color: $veryLight;
    border-top-style: solid;
    border-top-width: 1px;
    vertical-align: middle;
    .nav-title {
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      padding: 16px 16px 12px;
      color: $gray;
    }
    .nav-element {
      width: 100%;
      height: 100%;
      padding: 8px 16px;
      text-align: left;
      * {color: $gray;}
      line-height: 26px;
      cursor: pointer;
      &:hover { background: $veryLight; transition: all .7s ease; }
      .nav-icon {  float: left; }
      .nav-text {
        font-weight: 300;
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
      }
    }
  }
  .nav-group:first-child { border-top: 0; }

}
.nav-icon {
  width: 24px;
  height: 24px;
  margin-left: -2px;
  margin-right: 10px;
  opacity: .75;
}
.logotype {
  font-size: 2.4rem;
  background: rgba($white, .95);
  position: fixed;
  top: 0;
  margin: 0;
  padding: 10px 0;
  z-index: 500;
  width: 100%;
  .small { display: inline; }
  a, i {
    font-size: 2.4rem;
    border:none;
    vertical-align: middle;
    &:hover { color: $orange; }
  }
}
label.nav-title.margin-toggle { display: block; }
.note { display: none; }
.margin-toggle:checked + .note { display: block;
                                       float: left;
                                       left: 0;
                                       clear: both;
                                       width: 95%;
                                       margin: 1rem 2.5%;
                                       vertical-align: baseline;
                                       position: relative; }



.main {  width: 90%; }
#container {  margin-left: 220px; border-top: 60px transparent solid; }
.flex {
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;
  -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
  -moz-column-gap: 30px; /* Firefox */
  column-gap: 30px;
}
.with-sidebar {
  width: auto;
  margin-right: 400px;
  padding: 10px 0 40px;
}
.sidebar {
  margin-top: 50px;
  box-shadow: -1px 0 1px -2px rgba(0, 0, 0, 0.9);
  background-color: $veryLight;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  padding: 10px 20px;
  li {font-size: .8em;}
  a:hover { color: $orange; }
}
.scroll-arrows {display: inline; }
.flex-element {
  display: inline-block;
  margin: 5px;
  width: 24%;
  overflow: hidden;
  h3, small { padding: 0 10px; display: block; line-height: 1.4em; }
  p { text-align: left; }
}
.scrw .flex-element { width: 95%; }
#modal {display:none; text-align: center; * { font-family: $sansFontFamily;} }
.input * { font-size: 1.5em; padding: 10px; margin-bottom: 20px;}
.center { text-align: center;}
.pull-right {position: relative; right: 5px; bottom: 10px;}
.circle { border-radius: 50px; }
.well { background: $veryLight; width: 75%; padding: 2rem; * {font-size: .9rem;}  p { width: 100%; }}
.hidden { display: none; }
.lineup {font-size: 3rem; display: inline; }
.first {margin-top: 1rem; }
.text.simplemodal-close { font-size: 1em; color:  $white; cursor: pointer; display: block; line-height: 2em; &:hover { color: darken($white, 20%);} }
#simplemodal-overlay {background-color:#000;}
.coa {  font-size: 1.6em; line-height: 3em; color: $white !important; cursor: pointer; border: $white thin solid; padding: 10px 15px;  &:hover { color: darken($white, 10%);} }
.coa.first { background: $orange; border: none; }
/* Container */
#simplemodal-container {height:300px; width:600px; color:#bbb; background-color: rgba($orange, .95); padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a.modalCloseImg {
  &:before {
    content: "\f057";
    position:absolute;
    font-family: FontAwesome;
    top:0;
    font-size: 2em;
    color: $white;
  }
  width:25px;
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-15px;
  right:-16px;
  cursor:pointer;
}

.error { font-size: 14px; color: red;}
.field_with_errors { border: red thin solid; padding: 10px; }
#error_explanation ul { width: 100%; }
@media (max-width: 900px) {
  body {padding-left: 2.5%;}
  .flex {
    margin-top: 50px;
    overflow-x: none;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    height: auto;

  }
  .with-sidebar { margin-right: 0; }
  .sidebar { position: relative; width: 95%; margin-top: 10px; }
  .show #nav { display: none; }
  .logotype a, .logotype i { font-size: 1.6rem; }
  #container { margin-left: 0; margin-bottom: 70px; }
  h1{ text-align: center; }
  .logotype img { display: inline;  max-width: 50px; vertical-align: middle;}
  #nav.mobile {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    top: initial;
    width: 100vw;
    height: 60px;
    border-right: none;
    box-shadow: 1px 0 1px 0px rgba(0, 0, 0, 0.9);
    vertical-align: middle;
    padding: 0;
    overflow-y: hidden;
    a { font-weight: 600; color: $gray }
    a:hover { color: $orange; }
    .topics {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      width: 80%;
      display: inline-block;
      ul { text-align: justify; width: 30em; margin: 0 0 0 20px; font-size: 1rem; padding-top: 0; padding-bottom: 0; padding-right: 20px;}
      ul:after { content: ''; display: inline-block; width: 75%; }
      li {display: inline-block; line-height: 60px; padding: 0; text-transform: uppercase; }
    }
    .login { border-left: $grayLighter solid thin; padding-left: 12px; position: fixed; background: $white; z-index: 21; display: inline-block; a{ line-height: 60px; font-size: 1.2em; } .circle {height: 40px;
width: 40px;
vertical-align: middle;
margin: 0 auto;}}

  }
  .desktop {display: none; }
  #simplemodal-container {height:300px; width:80%; color:#bbb; background-color: rgba($orange, .9); padding:12px;}
}