@import "variables";
@import "font-awesome/font-awesome";

body { font-family: $sansFontFamily; margin: 0; font-size: 16px;}
a { text-decoration: none; }
.logo { width: 150px; height: 150px; margin: 0 auto 20px; img {width: 100%; }}
.white * {  color: $white; }
.orange * {  color: $orange; }
h1 { font-weight: 300; font-size: 3rem; img {vertical-align: middle;}}

#slideshow {
  max-width: 100%; overflow: hidden; position: relative; min-height: 100vh;
}

#slideshow > img {
  max-width: none;
  position:absolute;
  width: 100%;
  max-height: none;
  opacity:0;
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-duration: 3s, 8s;
  -moz-transition-property: opacity, -moz-transform;
  -moz-transition-duration: 3s, 8s;
  -o-transition-property: opacity, -o-transform;
  -o-transition-duration: 3s, 8s;
  transition-property: opacity, transform;
  transition-duration: 3s, 8s;
}

#slideshow .fx:first-child + img ~ img {
	z-index:-1;
}
#slideshow .fx {
  -webkit-transform: scale(1.2) translate(0px);
  -moz-transform: scale(1.2) translate(0px);
  -o-transform: scale(1.2) translate(0px);
  transform: scale(1.2) translate(0px);
  opacity:1;
}
.small { font-size: .7em; }
.slide-text {
  z-index: 500;
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  border-top: 100px solid transparent;

  text-align: center;
  strong { color: $grayDarker; }
  h1, h2 { font-size: 3.5em; font-family: 'Comfortaa'; color: white; margin: 10px;  display: block; }
}

.slide-coa {
  position: absolute;
  right: 70px;
  top: 100px;
  width: 28%;
  a { font-family: $sansFontFamily;
    font-size: 1.5vw;
    line-height: 5em;
    width: 100%;
    color: $white !important;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px $grayDarker;
    display: block;
    align-items: center;
    justify-content: center;
    &:hover {text-shadow: 0px 0px 0 darken($grayDarker, 15%);}
  }
}
.social i:hover { color: $orange; }
small { color: $white; }
#modal {display:none; text-align: center; * { font-family: $sansFontFamily;} }
input { font-size: 1.5em; padding: 10px; margin-bottom: 20px;}
/* Overlay */
.text.simplemodal-close { font-size: 1.2em; color:  darken($white, 10%); display: block; cursor: pointer; line-height: 4em; &:hover { color: darken($white, 20%);} }
#simplemodal-overlay {background-color:#000;}
.coa {  font-size: 2em; line-height: 3em; color: $white; cursor: pointer; border: $white thin solid; padding: 10px 15px;  &:hover { color: darken($white, 10%);} }
.coa.first { background: $orange; border: none; }
/* Container */
#simplemodal-container {height:300px; width:600px; color:#bbb; background-color: rgba($orange, .9); padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a.modalCloseImg {
  &:before {
    content: "\f057";
    position:absolute;
    font-family: FontAwesome;
    top:0;
    font-size: 2em;
    color: $white;
  }
  width:25px;
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-15px;
  right:-16px;
  cursor:pointer;
}
.down a { font-size: 3em; transition: all .2s ease; }
#page-submit { background: $veryLight; }
.pages {
  white-space:normal;
  vertical-align:top;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  input {margin-bottom: 5px;}
  .hint { text-align: center; display: block; font-size: .9em; margin-top: 0; padding-top: 0; }
  p  { text-align: center; display: block; width: 100%; }
  h1:first-child {margin-top: 50px;}
}
.flex {
  margin-top: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
   flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

}
.scoop { width: 40%; margin-left: 10px;}
.email {
  border: $grayDarker thin solid;
  padding: 20px;
  margin-top: 10px;
  p {text-align: left;}
}
small { color: $textColor; }
.flex-element {
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  margin: 5px;
  width: 24%;
  overflow: hidden;
  h3, small { padding: 0 20px; }
  p { text-align: left; }
}
.center { text-align: center; margin: 0 auto; }
.tag {
  font-family: $sansFontFamily;
  line-height: normal;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 15px;
  border: thin $grayLighter solid;
  font-weight: $baseFontWeight;
  text-align: center;
  display: inline-block;
  padding: 5px 8px;
  background: lighten($veryLight, 5%);

}
.mini-article {
  background: $veryLight;
  padding-bottom: 20px;
  min-height: 427px;
  img { max-width: 100%; }
}

@media (max-width: 1200px) {
  #slideshow > img {
    height: auto;
    width: auto;
    min-width: 100%;
  }
  .slide-text {h1 { font-size: 2em }}
  #simplemodal-container {width: 90%;}
}

@media (max-width: 900px) {
  .flex-element { width: auto; }
}