//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #292929;    //Main menu, Headings, p, Block background.
$grayDark:              #333;       //Headings.
$gray:                  #aaaaaa;    //Sub Headings (h4).
$grayLight:             #bbbbbb;
$grayLighter:           #bbbbbb;    //Main menu - border, Sub menus background.
$veryLight:             #EEEEEE;      //Form input background
$white:                 #fff;

$blueGray:              #4E808E;    //Submenu, Read more, Global anchor.

// Accent colors
// -------------------------
$blue:                  #99d9e9;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #fffff8;
$orange:                #ffbe00;
$pink:                  #c3325f;
$purple:                #7a43b6;

.blue-hover:hover { background: $blue; color: $white; border-color: $blue; }

// Scaffolding
// -------------------------
$bodyBackground:        $gray;
$textColor:             $grayDarker;

// Links
// -------------------------
$linkColor:             $blueGray;
$linkColorHover:        darken($linkColor, 15%);

.white { color: $white; }
.black-bg { background-color: $grayDarker;}
.orange { color: $orange; }


// Typography
// -------------------------

$sansFontFamily:        'Open Sans','Source Sans Pro', sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;
$logotypeFontFamily:    'Comfortaa', 'Open Sans', sans-serif;

$baseFontSize:          19px;
$baseFontFamily:        $sansFontFamily;
$baseFontWeight:        100;
$baseLineHeight:        27px;
$altFontFamily:         $serifFontFamily;

$headingsFontFamily:    $sansFontFamily; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold;    // instead of browser default, bold
$headingsColor:         inherit; // empty to use BS default, $textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

$fontSizeLarge:         $baseFontSize * 1.25;
$fontSizeSmall:         $baseFontSize * 0.85;
$fontSizeMini:          $baseFontSize * 0.75;

$paddingLarge:          11px 19px; // 44px
$paddingSmall:          2px 10px;  // 26px
$paddingMini:           0 6px;   // 22px

$baseBorderRadius:      0px;
$borderRadiusLarge:     0px;
$borderRadiusSmall:     0px;


// Forms
// -------------------------
$inputBackground:               $white;
$inputBorder:                   #ccc;
$inputBorderRadius:             $baseBorderRadius;
$inputDisabledBackground:       $grayLighter;
$formActionsBackground:         #f5f5f5;
$inputHeight:                   $baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border

// Input placeholder text color
// -------------------------
$placeholderText:         $grayDarker;


// Hr border color
// -------------------------
$hrBorder:                $grayLighter;


// Horizontal forms & lists
// -------------------------
$horizontalComponentOffset:       180px;


// Wells
// -------------------------
$wellBackground:                  #f5f5f5;


// Pagination
// -------------------------
$paginationBackground:                #fff;
$paginationBorder:                    #ddd;
$paginationActiveBackground:          #f5f5f5;


// Hero unit
// -------------------------
$heroUnitBackground:              $grayLighter;
$heroUnitHeadingColor:            inherit;
$heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
$warningText:             #c09853;
$warningBackground:       #fcf8e3;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%);

$errorText:               #b94a48;
$errorBackground:         #f2dede;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%);

$successText:             #468847;
$successBackground:       #dff0d8;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%);

$infoText:                #3a87ad;
$infoBackground:          #d9edf7;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%);


// Tooltips and popovers
// -------------------------
$tooltipColor:            #fff;
$tooltipBackground:       #000;
$tooltipArrowWidth:       5px;
$tooltipArrowColor:       $tooltipBackground;

$popoverBackground:       #fff;
$popoverArrowWidth:       10px;
$popoverArrowColor:       #fff;
$popoverTitleBackground:  darken($popoverBackground, 3%);

// Special enhancement for popovers
$popoverArrowOuterWidth:  $popoverArrowWidth + 1;
$popoverArrowOuterColor:  rgba(0,0,0,.25);

.orange-bgnd { background: $orange; color: $white; a { color: white; }}
.orange { color: $orange; }
@mixin vertical-align {
  top: -50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horiz-align {
  left: -50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
